


 

/* #region benefits */
.strategy-list-section{
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}

.strategy-list {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
margin-bottom: 8px;
}

.strategy-item {
font-weight: 400;
font-size: 16px;
color: #434455;
}

p {
line-height: 1.5;
letter-spacing: 0.02em;
}

.benefits {
    padding: 120px 0
}

.strategy {
width: calc((100% - 72px) / 4);
}

.container-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }


/* #endregion benefits */ 

/* #region team */  
.title-isteam-section{
background-color: #f4f4fd;
padding: 120px 0;
}

.heading-workers {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.title-line {
background-color:#FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
text-align: center;
margin-bottom: 8px;
}

.title-iteam{
font-weight: 400;
font-size: 16px;
 line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

.title-list {
display: flex;
gap: 24px;
}

.title-workers {
    padding: 32px 0;
}

.networks{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-networks{
    width: 40px;
    height: 40px;
}

.networks-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link:hover,
.networks-link:focus {
    background-color: #404bbf;
}

.logo-link {
    fill: #f4f4fd;
}
/* #endregion team */

/* #region portfolio */
.heading  {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42; 
margin-bottom: 72px;
justify-content: space-between;
    align-items: center;
    height: 80px;

}

.portfolio-heading{
color:#2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em; 
margin-bottom: 8px;
}

.portfolio-iteam {
font-size: 16px;
color: #434455;
}

p {
line-height: 1.5;
letter-spacing: 0.02em;
}

.heading-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}

.container-heading {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-section {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.portfolio-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list:hover,
.portfolio-list:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-images {
    position: relative;
    overflow: hidden;
}
.paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.paragraph:hover,
.paragraph:focus {
    transform: translateY(0%);
}
.portfolio-list:hover .paragraph {
    transform: translateY(0%);
}
/* #endregion portfolio */

/* #region footer */
.footer-background {
    background-color: #2e2f42;
    padding: 100px 0;

}   

.text-raleway-footer {
    color: #f4f4fd;
}

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #2e2f42;
max-width: 264px;
margin-bottom: 16px;
}

.container-footer {
    display: flex;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.logo-paragraph {
    margin-right: 120px;
    padding-top: 16px;
}

.copyright{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-networks{
    display: flex;
    gap: 16px;  
}
.footer-social-networks{
    width: 40px;
    height: 40px;   
}

.footer-networks-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-networks-link:hover,
.footer-networks-link:focus {
    background-color: #31d0aa;
}
.footer-logo-link {
    fill: #f4f4fd;
}

.subscribe-footer{
    margin-left: 80px;
    padding-top: 16px;
    padding-right: 24px;
}
.paragraph-footer {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-form {
    display: flex;
    gap:24px;
}
.input-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.input-footer::placeholder {
    color: #ffffff;
}

.button-footer {
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
margin-left: 16px;
}

.copyright-networks {
    padding-top: 16px;
}

.button-footer:hover,
.button-footer:focus {
    background-color: #404bbf;
}
/* #endregion footer */

/* #region popup */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hide-popup {
    opacity: 0;
}

.popup-review {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close-popup {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-popup:hover,
.close-popup:focus {    
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-popup-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .popup-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 16px;
    }

.label-field {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;
}

.field-wrapper {
position: relative;
margin-bottom: 16px;
}

.text-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus {
    border-color: #4D5AE5;
}

.field-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus+.field-icon {
    fill: #4D5AE5;
}

.comment-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:hover,
 .comment-textarea:focus {
border-color: #4D5AE5;
}

.form-field-wrapper {
    margin-bottom: 8px;
}

.policy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    margin-bottom: 24px;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.policy-checkbox:checked+.policy-label .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #404bbf;
}


.policy-link {
    color:#4d5ae5;
}

.button-primary{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: auto;
}

.button-primary:hover,
.button-primary:focus {
    background-color: #404bbf;
}
.form-field{
    margin-top: 8px;
    margin-bottom: 16px;
}

.form-wrapper {
    margin-bottom: 24px;
}
       
/* #endregion popup */