.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
li {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}   

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* #region header */

.header-background {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-background .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    align-items: center;
}

.menu,
.contact-info {
    display: none;
}

.main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.text-raleway {
    color: #2e2f42;
}

.main-logo {
    display: block;
    padding: 16px 0;
}

.burger-btn {
padding: 0;
border: none;
background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2e2f42;
}

@media screen and (min-width:768px) {
    .burger-btn {
     display: none;
    }
   .menu {
    display: flex;
    gap: 40px;
    align-items: center;
   }
       
   .main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 120px;
   }

   .main-nav {
    display: flex;
    align-items: center;
   }

    .nav-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    padding: 24px 0;
    position: relative;
    color: #2e2f42;; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .nav-link::after {
     content: '';
     position: absolute;
     bottom: -1px;
     border-radius: 2px;
     left: 0;
     width: 100%;
     height: 4px;
     background-color: #404bbf;
     opacity: 0;
     transform: scaleX(0);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

     .nav-link:hover,
     .nav-link:focus,
     .nav-link.active {
      color: #404bbf;
    }

     .nav-link:hover::after,
     .nav-link:focus::after,
     .nav-link.active::after {
      opacity: 1;
      transform: scaleX(1);
    }

    .contact-info {
     font-style: normal;
     display: flex;
     flex-direction: column;
     gap: 12px;
     }
     .contact-message {
     font-weight: 400;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #434455;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     .contact-info :hover,
     .contact-info :focus,
     .contact-info :active {
     color: #404bbf;
     }
} 

@media screen and (min-width:1158px) {
    .main-logo {
      margin-right: 76px;
     }
     .contact-info {
     flex-direction: row;
     align-items: center;
     gap: 40px;
     }
     .contact-message {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     }
}

/* #endregion header */

/* #region mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-mobile-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
}

.mobile-nav {
    margin-bottom: auto;
}

.nav-link-mobile {
    display: flex;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
    padding: 24px 0;
    position: relative;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile:hover,
.nav-link-mobile:focus {
    color: #404bbf;
}

.mobile-menu .container {
    margin: 0;
    max-width: 100%;
}

.mobile-nav,
.contact-address-mobile {
    align-items: flex-start;
    text-align: left;
    width: 100%; 
}

.contact-info-mobile {
display: flex;
flex-direction: column;
margin-bottom: 48px;
gap: 24px;
}

.contact-message-mobile{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-style: normal;
}

.contact-message-mobile:hover,
.contact-message-mobile:focus {
    color: #4d5ae5;
}

.mobile-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
}

.mobile-social-networks {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mobile-logo-link {
    display: block;
}

.burger-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.close-mobile-menu {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width:1158px) {
    .mobile-menu {
        display: none;
    }
}


/* #endregion mobile menu */

/* #region hero */
.page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-m.jpg);
    padding: 72px 0;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
@media (min-resolution: 192dpi) {
    .page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-m@2x.jpg);
    }
}

.page-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #FFFFFF;
     max-width: 216px;
     margin: 0 auto 72px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    display: block;
    flex-direction: column;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-t.jpg);
        padding: 112px 0;
        max-width: 768px;
    }

    .page-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;
    }

    @media (min-resolution: 192dpi) {
        .page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-t@2x.jpg);
        }
}
}

@media screen and (min-width: 1158px) {
    .page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
            padding: 188px 0;
            max-width: 1440px;
        }

        .page-title {
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
            margin: 0 auto 48px;
        }
        
        @media (min-resolution: 192dpi) {
            .page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero@2x.jpg);
            }
}
}
/* #endregion hero */

/* #region benefits */

.container-svg {
    display: none;
}

.benefits {
    padding: 96px 0;
}

.strategy-list-section {
     background-color: #FFFFFF;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 72px;
}

.strategy-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.strategy-item {
    font-weight: 500;
    font-size: 16px;
    color: #434455;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    
     .strategy-list-section {
       background-color: #FFFFFF;
       display: flex;
       gap: 24px;
}
    .strategy-list-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        flex-direction: row;        
    }
        .strategy-list {
            text-align: left;
        }
     .strategy {
         width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .benefits {
         padding: 120px 0
        }

     .strategy-list-section {
         gap: 24px;
         flex-direction: row;
         }
    .strategy-list {
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
         letter-spacing: 0.02em;
        }
    .strategy-item {
      font-weight: 400;
    }
    .container-svg {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 112px;
         background-color: #f4f4fd;
         border-radius: 4px;
         border: 1px solid #8e8f99;
         margin-bottom: 8px;
        }
    .strategy {
        width: calc((100% - 72px) / 4);
         }
  }

/* #endregion benefits */

/* #region team */

/* #endregion team */